.control-icon-wrap
  .ant-badge-count-sm
    font-size 11px
  .ant-badge-multiple-words
    padding 0 3px
.transfer-list-card
  width calc(100vw - 48px)
.sftp-file
  max-width calc(50vw - 250px)
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  &.history-file
    max-width calc(50vw - 440px)
.history-file-wrap
  display flex
  align-items center
  gap 4px
  .history-open-icon
    flex-shrink 0
    color #1890ff
    &:hover
      color #40a9ff
